.animated-zoom {
    opacity: 0;
    transform: scale(0);
    animation: zoomIn 1s ease forwards;
}
@keyframes zoomIn {
from {
    opacity: 0;
    transform: scale(0);
}
to {
    opacity: 1;
    transform: scale(1);
    }
}

.animated-kanan{
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInRight 1s ease forwards;
}   
@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animated-hori {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInRight 1s ease forwards;
    animation-delay: 0.3s;
}
@keyframes slideInRight {
from {
    opacity: 0;
    transform: translateX(-20%);
}
to {
    opacity: 1;
    transform: translateX(0);
    }
}