* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 50px;
}

.section-margin {
  margin-top: 250px;
}

/* Navbar Start */
.navbar {
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.navbar .navroadmap {
  width: 1200px;
}
.navbar .container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container .logo {
  cursor: default;
}
.navbar .menu-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar .menu-wrapper .menu {
  margin: auto;
}

.navbar .menu a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #1e1b1b;
  opacity: 60%;
  text-decoration: none;
  margin: 0 15px;
}
.navbar .menu a:hover {
  background: #2e148c;
  opacity: 100%;
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
  border-radius: 60px;
}
.navbar .menu a.active {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 15px;
  color: #f2507b;
  opacity: 100%;
  text-decoration: none;
}
.navbar .menu a.active:hover {
  background: #2e148c;
  opacity: 100%;
  text-decoration: none;
  padding: 10px;
  color: #f2507b;
  border-radius: 60px;
}
.button-search {
  width: 128px;
  height: 30px;
  background-color: #f2507b;
  display: flex;
  justify-content: space-between;
  border-radius: 21px;
  cursor: pointer;
}
.button-search:hover {
  background: #2e148c;
  text-decoration: none;
}
.button-search .container {
  margin: auto;
  margin-left: 22px;
  margin-right: 22px;
}

.button-search .teks {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 3px;
}

.button-search .icon i {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
.navbar .menu-open {
  font-size: 0px;
  color: #ffffff;
  margin-right: 5px;
}
/* Navbar End */

/* Roadmap Start */
.roadmap {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  padding-top: 126px;
  padding-bottom: 30px;
  left: 0;
  right: 0;
  height: 30px;
  z-index: 1;
}
.roadmap .container {
  background-color: #ffffff;
}
.roadmap .icons {
  display: flex;
}
.roadmap .icons i {
  color: #f2507b;
  font-size: 20px;
}
.roadmap .icons a {
  color: #f2507b;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 0;
  text-decoration: none;
}
.roadmap .icons i.bx-chevron-right {
  color: #686868;
  font-size: 20px;
  margin: 0;
}
.roadmap .icons p {
  color: #f2507b;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}
/* Roadmap End */

/* News Start */
.news {
  position: relative;
  top: 160px;
}
.news .container {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}
.news .content-left {
  width: 778px;
}
.news .heading h2 {
  color: #2e148c;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 14px;
}
.news .image img {
  width: 100%;
  height: 373px;
  border-radius: 28px;
}
.news .source {
  margin-left: 20px;
  margin-bottom: 15px;
}
.news .source p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.news .article {
  margin-bottom: 200px;
}
.news .article p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 30px;
}
.news .content-right {
  width: 425px;
  position: fixed;
  right: 0;
  /* z-index: -1; */
  transition: transform 0.00000005s ease;
}
.content-right.absolute {
  position: absolute;
  bottom: 0;
  top: auto;
}
.news .content-right h3 {
  color: #2e148c;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 21px;
}
.news .subnews {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}
.news .subnews a {
  text-decoration: none;
}
.news .subnews img {
  width: 144px;
  height: 97px;
  border-radius: 10px;
}
.news .title-subnews {
  margin: auto;
}
.news .title-subnews h4 {
  color: #2e148c;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.news .title-subnews h4:hover {
  opacity: 100%;
  text-decoration: underline;
  color: #F2507B;
}
/* News End */

/* Footer Start */
footer {
  margin-top: auto;
  background-color: #f2507b;
  border-radius: 50px 50px 0px 0px;
  z-index: 1;
}
footer .row1 {
  display: flex;
  width: 1121px;
  justify-content: space-between;
  margin-top: 109px;
  gap: 130px;
  margin-left: auto;
  margin-right: auto;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .content-right li {
  list-style: none;
}
footer .content-left {
  align-items: center;
  margin-top: 0px;
  text-align: center;
}
footer .content-left img {
  margin-top: -35px;
}
footer .logo {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 21px;
  color: rgb(255, 255, 255);
  margin-bottom: 2px;
}
footer .logo span {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 21px;
  color: #2e148c;
}
footer .phone {
  margin-bottom: 47px;
}
footer.icons {
  display: flex;
  background-color: #2e148c;
}
footer .icons img {
  margin-top: 0;
  width: 40px;
}
footer .icons i {
  font-size: 40px;
  margin-top: -50px;
}
footer .content-left a,
p {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}
footer .content-left .email {
  line-height: 3;
}
footer .maps {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #446cfb;
  text-decoration: none;
}
footer .content-right li,
.address {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}
footer .address {
  line-height: 1.5;
}
footer .content-right li {
  margin-bottom: 15px;
  cursor: pointer;
}
footer .content-right {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-left: 0;
  margin-right: 0;
}

footer .col1 {
  width: 100px;
}
footer .col3 {
  width: 130px;
}
footer .col4 {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}
footer .content-right h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 22.5px;
}
footer .copyright {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}
footer .copyright span {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
}
/* Footer End */

/* Responsive */
@media screen and (max-width: 1080px) {
  /* Navbar Start */
  .navbar .menu-wrapper {
    position: fixed;
    background-color: #f2507b;
    top: 0;
    right: 0;
    width: 20%;
    min-width: 170px;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    clip-path: circle(0% at 100% 0);
    transition: 0.3s ease-in-out;
    justify-content: flex-end;
  }
  .navbar .menu-wrapper.active {
    clip-path: circle(141.2% at 100% 0);
    transition: 0.3s ease-in-out;
  }
  .navbar .menu-wrapper .menu {
    margin: 0 auto;
  }
  .navbar .menu a {
    display: block;
    margin: 50px 0;
    text-align: center;
  }
  .navbar .menu-open {
    font-size: 50px;
    color: #f2507b;
    margin-right: 5px;
    cursor: pointer;
  }
  .navbar .menu a.active {
    color: #2e148c;
    margin: 50px 0;
  }
  .navbar .menu a.active:hover {
    background: #2e148c;
    color: #ffffff;
  }
  .button-search {
    margin-top: 50px;
    width: 128px;
    height: 30px;
    background-color: #2e148c;
    display: flex;
    justify-content: space-between;
    border-radius: 21px;
    cursor: pointer;
  }
  /* Navbar End */
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 85%;
  }
  /* Roadmap Start */
  .roadmap .container {
    display: block;
    background-color: #ffffff;
  }
  .roadmap .icons i {
    font-size: 15px;
  }
  .roadmap .icons a {
    font-size: 15px;
  }
  .roadmap .icons i.bx-chevron-right {
    font-size: 15px;
  }
  .roadmap .icons p {
    font-size: 15px;
  }
  /* Roadmap End */
  /* News Start */
  .news {
    position: relative;
    top: 160px;
  }
  .news .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  .news .content-left {
    width: 100%;
  }
  .news .heading h2 {
    color: #2e148c;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 14px;
  }
  .news .image img {
    width: 100%;
    height: 373px;
    border-radius: 28px;
  }
  .news .source {
    margin-left: 20px;
    margin-bottom: 15px;
  }
  .news .source p {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 12px;
  }
  .news .article {
    margin-bottom: 200px;
  }
  .news .article p {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 30px;
  }
  .news .content-right {
    width: 425px;
    position: relative;
    top: -150px;
  }
  /* Footer Start */
  footer {
    margin-top: auto;
    background-color: #f2507b;
    border-radius: 50px 50px 0px 0px;
  }
  footer .row1 {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;
    margin-top: 109px;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  footer .container {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  footer .content-right li {
    list-style: none;
  }
  footer .content-left {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    text-align: center;
  }
  footer .content-left img {
    margin-top: -35px;
  }
  footer .logo {
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 21px;
    color: rgb(255, 255, 255);
    margin-bottom: 2px;
  }
  footer .logo span {
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 21px;
    color: #2e148c;
  }
  footer .phone {
    margin-bottom: 47px;
  }
  footer.icons {
    display: flex;
  }
  footer .icons img {
    margin-top: 0;
    width: 40px;
  }
  footer .icons i {
    font-size: 40px;
    margin-top: -50px;
  }
  footer .content-left a,
  p {
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
  }
  footer .content-left .email {
    line-height: 3;
  }
  footer .maps {
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
  }
  footer .content-right li,
  .address {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
  }
  footer .address p {
    line-height: 1.5;
    font-size: 12px;
  }
  footer .content-right li {
    margin-bottom: 12px;
    cursor: pointer;
  }
  footer .content-right {
    width: auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  footer .col1 {
    width: 100px;
    margin: 0 auto;
  }
  footer .col2 {
    width: 130px;
    margin: 0 auto;
  }
  footer .col3 {
    width: 130px;
    margin: 0 auto;
  }
  footer .col4 {
    width: 200px;
    margin-right: 0;
  }
  footer .content-right h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 22.5px;
  }
  footer .copyright {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
  }
  footer .copyright span {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
  }
  /* Footer End */
}
@media screen and (max-width: 700px) {
  .container {
    max-width: 90%;
  }
  /* Roadmap Start */
  .roadmap .container {
    display: block;
    background-color: #ffffff;
  }
  .roadmap .icons i {
    font-size: 13px;
  }
  .roadmap .icons a {
    font-size: 13px;
  }
  .roadmap .icons i.bx-chevron-right {
    font-size: 13px;
  }
  .roadmap .icons p {
    font-size: 13px;
  }
  /* Roadmap End */
  /* News Start */
  .news {
    position: relative;
    top: 160px;
  }
  .news .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  .news .content-left {
    width: 95%;
  }
  .news .heading h2 {
    color: #2e148c;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 14px;
  }
  .news .image img {
    width: 100%;
    height: 373px;
    border-radius: 28px;
  }
  .news .source {
    margin-left: 20px;
    margin-bottom: 15px;
  }
  .news .source p {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 12px;
  }
  .news .article {
    margin-bottom: 200px;
  }
  .news .article p {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 30px;
  }
  .news .content-right {
    width: 425px;
    position: relative;
    top: -150px;
  }
  /* Footer Start */
  footer {
    margin-top: auto;
    background-color: #f2507b;
    border-radius: 50px 50px 0px 0px;
  }
  footer .row1 {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    margin-top: 109px;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  footer .container {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  footer .content-right li {
    list-style: none;
  }
  footer .content-left {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    text-align: center;
  }
  footer .content-left img {
    margin-top: -35px;
  
  }
  footer .logo {
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 21px;
    color: rgb(255, 255, 255);
    margin-bottom: 2px;
  }
  footer .logo span {
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 21px;
    color: #2e148c;
  }
  footer .phone {
    margin-bottom: 47px;
  }
  footer.icons {
    display: flex;
    background-color: #2e148c;
  }
  footer .icons img {
    margin-top: 0;
    width: 40px;
  }
  footer .icons i {
    font-size: 40px;
    margin-top: -50px;
  }
  footer .content-left a,
  p {
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
  }
  footer .content-left .email {
    line-height: 3;
  }
  footer .maps {
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #446cfb;
    text-decoration: none;
  }
  footer .content-right li,
  .address {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
  }
  footer .address p {
    line-height: 1.5;
    font-size: 12px;
  }
  footer .content-right li {
    margin-bottom: 12px;
    cursor: pointer;
  }
  footer .content-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin-left: auto;
    margin-right: auto;
  }
  footer .col1 {
    width: 100px;
    margin: 0 auto;
  }
  footer .col2 {
    width: 130px;
    margin: 0 auto;
  }
  footer .col3 {
    width: 130px;
    margin: 0 auto;
  }
  footer .col4 {
    width: 200px;
    margin-right: 0;
  }
  footer .content-right h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 22.5px;
  }
  footer .copyright {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
  }
  footer .copyright span {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
  }
  /* Footer End */
}
