<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/animasi.css">
    <!-- Library AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Javascript -->
    <script src="js/aos.js"></script>
    <script src="js/script.js"></script>
     <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <title>Teaching Factory Sekolah Vokasi</title>
</head>
<body>
    <!-- Nav Start -->
    <header>
    <div class="navbar" id="navbar">
        <div class="container">
            <a href="#" class="logo">
                <img src="asset/logo nav.png" alt="">
            </a>
            <div class="menu-wrapper">
                <div class="menu">
                    <a href="index.html" class="active">Home</a>
                    <a href="our_plant.html">Our Plants</a>
                    <a href="trainingservice_Home.html">Training Services</a>
                    <a href="product_Home.html">Products</a>
                    <a href="aboutus.html">About Greenhouse</a>
                </div>
                <div class="button-search">
                    <div class="container">
                        <div class="teks">
                            Search
                        </div>
                        <div class="icon">
                            <i class='bx bx-search'></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-open bx bx-menu">                
            </div>
        </div>
    </div>
    </header>
    <!-- Nav End -->

    <!-- Home Start -->
    <!-- Header Start -->
    <div class="header">
        <div class="bg">
            <div class="content">
                <div class="logo">
                    <img src="asset/homepage/headerlogo.png" alt="headerlogo">
                </div>
                <div class="teks">
                    <h2>Greenhouse</h2>
                    <h3>Sekolah Vokasi <span>IPB</span></h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Start -->

    <div class="confirm">
        <div class="card">
            <h1>Data Telah Berhasil Dikirim</h1>
            <h2>Terima Kasih Atas Saran & Masukkannya</h2>
        </div>
    </div>

    <!-- Rektor Start -->
    <div class="rektor">
        <div class="container">
            <div class="content-left">
                <img src="asset/homepage/rektor.png" alt="rektor">
            </div>
            <div class="content-right">
                <div class="heading">
                    <h2 class="nama">
                        Prof. Dr. Arif Satria, SP, MSi
                    </h2>
                    <h3 class="jabatan">
                        (Rektor IPB University)
                    </h3>
                </div>
                <p class="desc">
                    “IPB University sudah memiliki kelebihan dalam riset dan inovasi. Oleh karena itu, ketika riset dan inovasi ditambah dengan entrepreneurship maka apabila memiliki tujuan dalam konteks bisnis menjadi technopreneurial university. Sedangkan apabila kita memiliki tujuan dalam sosial maka menjadi sociopreneur university, maka IPB University memilih keduanya agar bisnis dan sosial bisa bersanding menjadi techno-socio preneurial university”. 
                </p>
            </div>
        </div>
    </div>
    <!-- Rektor End -->

    <!-- Deskripsi Start -->
    <div class="deskripsi">
        <div class="container">
            <p>Greenhouse Sekolah Vokasi IPB University sejalan dengan tujuan IPB University menjadi tecno-socio preneurial university yang bertujuan dalam membantu mahasiswa menjadi wadah pengembangan sosial dan teknologi. Mengembangkan riset dan menciptakan berbagai macam inovasi dalam berbagai sektor yang tidak hanya terfokus bergerak dalam bidang horticultura. Greenhouse Sekolah Vokasi IPB University berlokasikan di Kampus Bogor maupun Kampus Sukabumi Sekolah Vokasi IPB University yang memiliki beberapa perbedaan sistem teknologi.</p>
            <br>
            <br>
            <p>Sekolah Vokasi IPB University mengembangkan teknologi Greenhouse terbaru dan ideal untuk pertumbuhan tanaman, Greenhouse yang terdapat dalam area Teaching Farming SV IPB di Kampus Cilebende, Bogor mampu mengendalikan iklim dan memungkinkan tanaman untuk tumbuh lebih cepat, lebih efisien, secara berkelanjutan di hampir setiap kondisi. Mulai dari sistem pemanasan yang inovatif, manajemen suhu dan pengendalian CO2, sistem pendingin dengan fogging, cooling pad, screen dan lainnya.</p>
            <br>
            <br>
            <p>IPB sebagai universitas pertanian terbaik di Indonesia punya visi misi yang jelas tentang pertanian 4.0. Greenhouse menjadi salah satu inovasi selain dari pertanian konvensional yang mana cara ini kurang presisi untuk menghasilkan produk pertanian yang sesuai dengan kebutuhan tanaman untuk bertumbuh. Hasil pertanian dari greenhouse lebih tinggi hingga 8-10 kali dibandingkan dengan hasil di lapangan terbuka. Namun di sisi lain, input pertanian seperti air dan pupuk dapat dikurangi hingga 40%. Karena itu, dengan adanya greenhouse, metode pertanian dan ketahanan pangan yang lebih berkelanjutan serta greenhouse dapat menghadirkan masa depan yang menyenangkan.</p>
            <br>
            <br>
            <p>Hasil tanaman dari Greenhouse Sekolah Vokasi memiliki kualitas yang tinggi dengan produk yang dapat dibanggakan mulai dari melon yang menjadi komoditas utama hingga anggrek yang menjadi primadona dari hasil rekayasa yang sering dipamerkan dalam berbagai event yang merupakan anggrek dengan kualitas terbaik dan tercantik yang ada di Bogor.</p>
        </div>
    </div>
    <!-- Deskripsi End -->

    <!-- Plants Start -->
    <div class="plants">
        <div class="container" >
            <div class="cards">
                <a href="Anggrek Prof. Dr. Arif Satria, SP, MSi.html">
                    <div class="plant" data-aos="fade-right" data-aos-delay="250">
                        <img src="asset/Our Plant/Anggrek Prof. Dr. Arif Satria, SP, MSi.png" alt="plant">
                        <div class="teks">
                            <h2>Dendrobium Prof.Dr.Arif Satria Msi</h2>
                            <p>Anggrek jenis ini merupakan hasil rekayasa dari GreenHouse Sekolah Vokasi IPB University serta menjadi kebanggan dari GreenHouse ini.</p>
                        </div>
                    </div>
                </a>
                <a href="Anggrek Neno Beuty.html">
                    <div class="plant" data-aos="fade-up" data-aos-delay="250">
                        <img src="asset/Our Plant/Anggrek Neno Beuty.png" alt="plant">
                        <div class="teks">
                            <h2>Dendrobium Neno Beauty</h2>
                            <p>Anggrek ini merupakan salah satu anggrek jenis baru selain Dendrobium Prof.Dr.Arif Satria, hasil campuran, hasil silangan dari Nindii dengan Wira Pride.</p>
                        </div>                    
                    </div>
                </a>      
                <a href="Anggrek IPB Vocational Collage.html" >
                    <div class="plant" data-aos="fade-left" data-aos-delay="250">
                        <img src="asset/Our Plant/Anggrek IPB Vocational Collage.png" alt="plant">
                        <div class="teks">
                            <h2>Dendrobium IPB Vocational College</h2>
                            <p>Anggrek ini juga salah satu dari tiga hasil rekayasa prodi TIB ynag merupakan hasil silangan Husmadi dengan Jeffrey Tan.</p>
                        </div>
                    </div>
                </a>                                        
            </div>
            <div class="lihatlainnya"   data-aos="zoom-in-up">
                <a href="our_plant.html">Lihat Lainnya</a>
            </div>
        </div>
    </div>
    <!-- Plants End -->

    <!-- News Start -->
    <div class="headline">
        <div class="container" id="news">
            <h2>News!</h2>
            <div class="content" data-aos="zoom-in">
                <div class="swipper">
                    <!-- Swiper -->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="news">
                                    <div class="content-top">
                                        <div class="content-left">
                                            <div class="heading">
                                                <h2 class="heading">
                                                    IPB University Punya Anggrek Jenis Baru, Diberi Nama Anggrek Arif Satria
                                                </h2>
                                                <p class="sub-heading">Kunjungan Prof.Dr.Arif Satria, SP, Msi dalam peresmian gedung Zeta sekaligus meneriam penyerahan anggrek Dendrobium Prof.Dr.Arif Satria, SP, Msi yang merupakan buatan hasil rekayasa dari Green House Sekolah Vokasi IPB University</p>
                                            </div>
                                            <a href="news1.html">
                                                <div class="button">
                                                    <p>Read More</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="content-right">
                                            <img src="asset/homepage/headline 1.jpg" alt="headline 1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content-top">
                                    <div class="content-left">
                                        <div class="heading">
                                            <h2 class="heading">
                                                Sekolah Vokasi IPB University Gelar Seminar, Teknologi Greenhouse Dikedepankan
                                            </h2>
                                            <p>Seminar greenhouse dan irigasi di Kampus Vokasi IPB University, Bogor, membahas teknologi greenhouse. IPB sedang membangun dua rumah kaca di Bogor dan Sukabumi. Netafim Indonesia, penyedia sistem pertanian berkelanjutan, menghadirkan pola pertanian masa depan. Seminar tersebut adalah kesempatan untuk sosialisasi menuju greenhouse 4.0. IPB bekerja sama dengan Netafim untuk mempersiapkan mahasiswa Vokasi IPB masuk ke industri.</p>
                                        </div>
                                        <a href="news2.html">
                                            <div class="button">
                                                <p>Read More</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-right">
                                        <img src="asset/news/news2.jpg" alt="headline 2">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content-top">
                                    <div class="content-left">
                                        <div class="heading">
                                            <h2 class="heading">
                                                Sekolah Vokasi IPB Sukabumi Panen Golden Melon Hidroponik
                                            </h2>
                                            <p>Seminar greenhouse dan irigasi di IPB University membahas perkembangan teknologi greenhouse. Manajer Netafim Indonesia menyoroti pertanian berkelanjutan. Seminar melibatkan ahli, praktisi, dan akademisi.</p>                                            
                                        </div>
                                        <a href="news3.html">
                                            <div class="button">
                                                <p>Read More</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-right">
                                        <img src="asset/news/news3.jpg" alt="headline 3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div> 
                </div>
            </div>                            
        </div>
    </div>
    <!-- News End -->

    <!-- Offers Start -->
    <div class="offers">
        <div class="container">
            <div class="heading">
                <h2>Layanan Kami</h2>
            </div>
            <div class="cards">
                <div class="offers1" data-aos="flip-up" data-aos-delay="220" data-aos-duration="1000">
                    <div class="card">
                        <div class="img-card">
                            <img src="asset/homepage/akademik.png" alt="offers1">
                        </div>
                        <div class="desc">
                            <h2>Akademik</h2>
                            <p>Menjadi media akademik mahasiswa baik dalam penilitan maupun praktikum mahasiswa</p>
                        </div>
                    </div>
                </div>
                <div class="offers2" data-aos="flip-up" data-aos-delay="220" data-aos-duration="1000">
                    <div class="card">
                        <div class="img-card">
                            <img src="asset/homepage/offers1.png" alt="offers2">
                        </div>
                        <div class="desc">
                            <h2>Media Informasi</h2>
                            <p>Menjadi media informasi mengenai informasi seputar Greenhouse</p>
                        </div>
                    </div>
                </div>
                <div class="offers3" data-aos="flip-up" data-aos-delay="220" data-aos-duration="1000">
                    <div class="card">
                        <div class="img-card">
                            <img src="asset/homepage/offers2.png" alt="offers3">
                        </div>
                        <div class="desc">
                            <h2>Jual Beli</h2>
                            <p>Menjual hasil panen tanaman dari Greenhosue kapada mahasisawa maupun khalayak umum</p>
                        </div>
                    </div>
                </div>
                <div class="offers4" data-aos="flip-up" data-aos-delay="220" data-aos-duration="1000">
                    <div class="card">
                        <div class="img-card">
                            <img src="asset/homepage/offers3.png" alt="offers4">
                        </div>
                        <div class="desc">
                            <h2>Jasa Pelatihan</h2>
                            <p>Menyediakan pelatiahan mulai dari bagaimana membudidaya tanaman hingga pembuatan greenhouse</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offers End -->

    <!-- Rooms Start -->
    <div class="rooms" id="rooms">
        <div class="background">
            <div class="title">
                <h2>Garden System Room</h2>
            </div>            
            <div class="cards">                
                <div class="room">
                    <a href="nursery_room.html">
                        <div class="card">
                            <div class="img-card" data-aos="fade-up" data-aos-delay="250">
                                <img src="asset/homepage/Nursery Room.png" alt="Nursery Room">
                            </div>
                            <div class="desc" data-aos="zoom-in">
                                <div class="heading">
                                    <h2>Nursery Room</h2>
                                    <p>(Kampus Bogor)</P>
                                </div>
                                <div class="paragraph">
                                    <p>Ruangan dengan teknologi dapat mengatur kelembapan tanaman, contoh tanaman anggrek</p>
                                </div>
                            </div>
                        </div>            
                    </a>
                </div>
                <div class="room">
                    <a href="#">
                        <div class="card">
                            <div class="img-card" data-aos="fade-up" data-aos-delay="250">
                                <img src="asset/homepage/Soiles Chiller.png" alt="Soiles Chiller">
                            </div>
                            <div class="desc" data-aos="zoom-in">
                                <div class="heading">
                                    <h2>Soiles Chiller</h2>
                                    <p>(Kampus Bogor)</P>
                                </div>
                                <div class="paragraph">
                                    <p>Ruang dalam greenhouse yang dapat mengatur Rh, suhu dan sejenis dengan menggunakan software</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="room">
                    <a href="hanging_gater.html">
                        <div class="card">
                            <div class="img-card" data-aos="fade-up" data-aos-delay="250">
                                <img src="asset/homepage/Hanging Room.png" alt="Hanging Room">
                            </div>
                            <div class="desc" data-aos="zoom-in">
                                <div class="heading">
                                    <h2>Hanging Room</h2>
                                    <p>(Kampus Bogor)</P>
                                </div>
                                <div class="paragraph">
                                    <p>Media tanaman gantung agar tanaman dapat tumbuh optimal, contoh tanamnanya adalah strawberry</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="room">
                    <a href="soiles_gater.html">
                        <div class="card">
                            <div class="img-card" data-aos="fade-up" data-aos-delay="250">
                                <img src="asset/homepage/Soilles Cultur Room.png" alt="Soilles Cultur Room">
                            </div>
                            <div class="desc" data-aos="zoom-in">
                                <div class="heading">
                                    <h2>Soiles Gater Room</h2>
                                    <p>(Kampus Bogor)</P>
                                </div>
                                <div class="paragraph">
                                    <p>Ruangan budidaya dengan tanpa memanfaatkan media tanah</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="room">
                    <a href="cooling_pad.html">
                        <div class="card">
                            <div class="img-card" data-aos="fade-up" data-aos-delay="250">
                                <img src="asset/homepage/Cooling Pad Room.png" alt="Cooling Pad Room">
                            </div>
                            <div class="desc" data-aos="zoom-in">
                                <div class="heading">
                                    <h2>Cooling Pad Room</h2>
                                    <p>(Kampus Sukabumi)</P>
                                </div>
                                <div class="paragraph">
                                    <p>Teknologi dalam rungan yang dapat mengatur suhu dalam rungan dengan menggunakan software dalam rentan waktu tertentu ketika dibutuhkan</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="room">
                    <a href="hydroponic_room.html">
                        <div class="card">
                            <div class="img-card" data-aos="fade-up" data-aos-delay="250">
                                <img src="asset/homepage/Hidroponic Room.png" alt="room1">
                            </div>
                            <div class="desc" data-aos="zoom-in">
                                <div class="heading">
                                    <h2>Hydroponic Room</h2>
                                    <p>(Kampus Sukabumi)</P>
                                </div>
                                <div class="paragraph">
                                    <p>Ruangan budidaya dengan tanpa memanfaatkan media tanah</p>
                                </div>                                
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Rooms End -->

    <!-- Promotion Start -->
    <div class="promotion">
        <div class="container">
            <div class="card" data-aos="fade-right" data-aos-delay="250">
                <div class="content-left">
                    <div class="heading">
                        <h2>Beli Hasil Panen Berkualitas</h2>
                    </div>
                    <div class="subheading">
                        <p>Tersedia hasil panen Greenhouse Sekolah Vokasi yang dapat dipesan</p>
                    </div>
                    <div class="button">
                        <a href="product_Home.html">Order Now</a>
                    </div>
                </div>
                <div class="content-right">
                    <img src="asset/homepage/promotion1.png" alt="promotion 1">
                </div>
            </div>
            <div class="card" data-aos="fade-left" data-aos-delay="250">
                <div class="content-left">
                    <div class="heading">
                        <h2>Pesan Layanan Jasa Kami</h2>
                    </div>
                    <div class="subheading">
                        <p>Tersedia layanan jasa pelatihan budidaya tanaman yang dapat dipesan</p>
                    </div>
                    <div class="button">
                        <a href="trainingservice_Home.html">Order Now</a>
                    </div>
                </div>
                <div class="content-right">
                    <img src="asset/homepage/promotion2.png" alt="promotion 2">
                </div>
            </div>
        </div>
    </div>
    <!-- Promotion End -->

    <!-- Sertification  Start -->
    <div class="sertification">
        <div class="container">
            <div class="logo" data-aos="flip-up" data-aos-delay="250" data-aos-duration="1000">
                <img src="asset/homepage/rhs.png" alt="logo-rhs">
            </div>
            <div class="card" data-aos="zoom-in">
                <div class="teks">
                    <h2>Sudah Terdaftar di RHS Internasional</h2>
                    <p>Beberapa jenis tanaman yang terdapat dalam Greenhouse Sekolah Vokasi telah terdaftar Royal Horticultural Society (RHS) yang berbasis di London dan telah terverifikasi. Sudah tersertifikat resmi sebagai jenis tanaman baru yang berlaku tanpa kadaluwarsa dan diakui secara internasional</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Sertification End -->

    <!-- Contact Start -->
    <div class="contact">
        <div class="container">
            <div class="content-left"  data-aos="fade-right" data-aos-delay="250">
                <h4>Contact</h4>
                <div class="teks">
                    <h2>Do you have any problem? 
                        contact us immediately</h2>
                </div>
                <img src="asset/homepage/contact.png" alt="contact">
            </div>  
            <div class="content-right" data-aos="fade-left" data-aos-delay="250">
                <form method="post" action="saveData.jsp">
                    <div class="input">
                        <div class="nama">                        
                            <input type="text" placeholder="Username" name="username" id="username">
                        </div>
                    </div>
                    <div class="input">
                        <div class="email">
                            <input type="email" placeholder="Your Email" name="email" id="email">
                        </div>
                    </div>
                    <div class="large-input">
                        <div class="message">
                            <textarea name="message" placeholder="Your Massage" id="message"></textarea>
                        </div>
                    </div>
                    <div class="button">
                        <div class="send">
                            <input type="submit" value="Simpan">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Contact End -->
    <!-- Home End -->

    <!-- Masukkan Start -->
    <div class="masukkan">
        <div class="container">
            <h2>Saran & Masukkan</h2>
            <div class="cards">
                <% while (rs.next()) { %>
                    <div class="card">
                    <div class="content">
                        <div class="heading">
                            <h3><%= rs.getString("username") %></h3>
                            <h4><%= rs.getString("email") %></h4>
                        </div>
                        <div class="teks">
                            <p><%= rs.getString("pesan") %></p>
                        </div>
                    </div>
                <% } %>                    
            </div>
        </div>
    </div>
    <!-- Masukkan End -->

    <!-- Masukkan Start -->
    <div class="masukkan">
        <div class="container">
            <h2>Saran & Masukkan</h2>
            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="heading">
                            <h3>Agil ArRachman</h4>
                            <h4>agil@gmail.com</h3>
                        </div>
                        <div class="teks">
                            <p>
                                Strawberry merupakan satu-satunya tanaman yand ditanam di
                                sistem soiles gater yang tujuan utama penanaman strawberry
                                ini bukan untuk dibudidayakkan namun bertujuann menjadi
                                wisata rekreasi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="heading">
                            <h3>Agil ArRachman</h4>
                            <h4>agil@gmail.com</h3>
                        </div>
                        <div class="teks">
                            <p>
                                Strawberry merupakan satu-satunya tanaman yand ditanam di
                                sistem soiles gater yang tujuan utama penanaman strawberry
                                ini bukan untuk dibudidayakkan namun bertujuann menjadi
                                wisata rekreasi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="heading">
                            <h3>Agil ArRachman</h4>
                            <h4>agil@gmail.com</h3>
                        </div>
                        <div class="teks">
                            <p>
                                Strawberry merupakan satu-satunya tanaman yand ditanam di
                                sistem soiles gater yang tujuan utama penanaman strawberry
                                ini bukan untuk dibudidayakkan namun bertujuann menjadi
                                wisata rekreasi
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Masukkan End -->

    <!-- Footer Start -->
    <footer>
        <div class="container">
            <div class="row1">
                <div class="content-left">
                    <img src="asset/logo footer.png" alt="Teaching Factory">
                    <a href="#" class="email">karankteam@gmail.com</a>
                    <p class="phone">+6289627550979</p>
                    <div class="icons">
                        <a href="https://wa.me/6285710207095"><img src="asset/whatsapp.png" alt="whatsapp"></a>
                        <a href="https://instagram.com/precision.horticulture/"><img src="asset/instagram.png" alt="instagram"></a>
                    </div>
                </div>
                <div class="content-right">
                    <div class="col1">
                        <h3>Services</h3>
                        <ul>
                            <li>House Plant</li>
                            <li>Garden Plant</li>
                            <li>Vase</li>
                            <li>Fertilizer</li>
                        </ul>
                    </div>
                    <div class="col2">
                        <h3>Information</h3>
                        <ul>
                            <li>Office Hours</li>
                            <li>Requirements</li>
                            <li>About us</li>
                        </ul>
                    </div>
                    <div class="col3">
                        <h3>Helpfull Link</h3>
                        <ul>
                            <li>Service</li>
                            <li>Support</li>
                            <li>Terms & Condition</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                    <div class="col4">
                        <h3>Address</h3>
                        <div class="address">                            
                            <p>Jl. Lodaya II, RT.02/RW.05</p>
                            <p>Babakan, Kecamatan Bogor Tengah</p>
                            <p>Kota Bogor, Jawa Barat 16128</p>
                            
                        </div>
                        <a href="https://maps.app.goo.gl/cEKGPUtJpySxAPzR8" class="maps">Google Maps</a>
                    </div>
                </div>
            </div>
        </div>
    <p class="copyright">&copy;Copyright 2023 All Right Reserve | Built by <span>KARANK</span></p>
    </footer>
    <!-- Footer End -->

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            pagination: {
                el: ".swiper-pagination",
                type: "fraction",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
</body>
</html>